

.icon-collapse.icon-collapse-close {
    background-image: url("../images/icon_panel_open.png");
}
.icon-collapse {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 29px;
    vertical-align: middle;
    width: 29px;
    top :3px;
}


table.table-compares-mobile tbody .icon-collapse {
    position: absolute;
    left: 0;
}
table.table-compares-mobile tbody .icon-collapse-1 {
    position: absolute;
    right: 5px;
}


      
/*.icon-collapse-close:active{
    background-image: url("../images/icon_panel_close.png");
    top : 3px;
}
.icon-collapse-open{
    background-image: url("../images/icon_panel_open.png");
    top : 3px;
}*/


.icon-collapse-1 {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 29px;
    vertical-align: middle;
    width: 29px;

}
table.table-compares {
  overflow: hidden;
  -webkit-transform: translateZ(0);
}
table.table-compares thead th {
  vertical-align: top;
  text-align: center;
}
table.table-compares tbody tr {
  font-family: "nobel-regular",Helvetica,Arial,sans-serif;
}

table.table-compares tbody tr th {
  font-size: 15px;
  padding-left: 10px ! important;
  background-color: #cacaca;
  color: #524f4f;
}

table.table-compares tbody tr th:hover {
  font-size: 15px;
  padding-left: 10px ! important;
  background-color: #524f4f;
  color: #fff;
}

table.table-compares tbody tr th:active {
  font-size: 15px;
  padding-left: 10px ! important;
  background-color: #524f4f;
  color: #fff;
}



.body-table table.table-compares thead th {
  visibility: collapse;
  line-height: 0;
  margin: 0;
  padding: 0;
}
.body-table table.table-compares thead th span {
  height: 0;
}
table.table-compares tbody {
  border-top: 1px solid #e6e6e6;
}
table.table-compares tbody:first-child {
  border: none;
}
table.table-compares .group-column {
  display: table-cell;
}
table.table-compares .group-column:first-child {
  padding-left: 40px;
}
table.table-compares .group-column:first-child th {
  padding-left: 0;
}
table.table-compares .group-column td,
table.table-compares .group-column th {
  display: block;
  font-weight: normal;
}
table.table-compares tr.standout:first-child {
  padding-left: 0;
  vertical-align: middle;
  text-align: left;
}
table.table-compares tr.standout em {
  font-weight: normal;
  font-style: normal;
  color: #333333;
  font-size: 16px;
  font-family: "nobel-bold",Helvetica,Arial,sans-serif;
  font-size: 1.6rem;
}
table.table-compares *[data-model="mg-column-4"] {
  display: none;
}
table.table-compares-mobile {
  border: none;
  border-collapse: collapse;
  border-bottom: 1px solid #e6e6e6;
}
table.table-compares-mobile .group-title {
  background-color: #F3F3F3;
  font-family: "nobel-regular",Helvetica,Arial,sans-serif;
  font-weight: bold;
  display: none;
  text-align: center;
}
table.table-compares-mobile tbody.collapse.in {
  border-top: 1px solid #ffffff;
}
table.table-compares-mobile tbody th {

  font-weight: bold;
  color: #d2232a;
  padding-left: 40px;
  position: relative;
}

table.table-compares-mobile tbody th[data-toggle="collapse"] {
  cursor: pointer;
}
table.table-compares-mobile tbody .icon-collapse {
  position: absolute;
  left: 0;
}
table.table-compares-mobile tbody td {
  font-family: "nobel-regular",Helvetica,Arial,sans-serif;
  text-align: center;
  width: 23%;
}
table.table-compares-mobile *[data-model="mg-column-0"] {
  padding-left: 20px;
  font-family: "nobel-regular",Helvetica,Arial,sans-serif;
  color: #333333;
  width: 25%;
  text-align: left ! important;
  padding-right: 0;
}
.body-table {
  position: relative;
}
.remark-header {
  position: absolute;
  width: 100%;
  top: 25px;
      font-family: "nobel-regular",Helvetica,Arial,sans-serif;
}
#class10 {
  border-color: #E6E6E6;
}
@media only screen and (min-width: 992px) {
  #mg-compare header {
    padding-top: 40px;
    margin-bottom: 40px;
  }
  #mg-compare .group-button {
    margin-top: 40px;
  }
  #data-compare .header-table {
    padding: 0px 30px;
  }
  #data-compare .body-table {
    padding: 55px 30px 30px;
  }
  #data-compare .body-table.new-mg5 {
    padding-top: 0;
  }
  #data-compare .body-table.new-mg5 .group-button .btn + .btn {
    margin-left: 5px;
  }
}
@media only screen and (min-width: 1200px) {
  #mg-compare header {
    padding-top: 60px;
    margin-bottom: 50px;
  }
  #data-compare .header-table {
    padding: 0px 40px;
  }
  #data-compare .body-table {
    padding: 55px 40px 40px;
  }
  #data-compare .body-table.new-mg5 {
    padding-top: 0;
  }
  #mg-compare.mg3--hatchback #tab-compare .ct-paginner {
    height: 181px !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #mg-compare header {
    padding-top: 30px;
    margin-bottom: 30px;
  }
  #mg-compare .group-button {
    margin-top: 20px;
  }
  #car-compare ul.list li {
    padding-left: 15px;
    padding-right: 15px;
  }
  #data-compare .header-table {
    padding: 0px 20px;
  }
  #data-compare .body-table {
    padding: 55px 20px 20px;
  }
  #data-compare .body-table.new-mg5 {
    padding-top: 0;
  }
  #data-compare .body-table.new-mg5 .group-button .btn + .btn {
    margin-left: 5px;
  }
}
@media only screen and (max-width: 767px) {
  #mg-compare header,
  .form-thank header {
    padding-top: 20px;
    margin-bottom: 20px;
  }
  #mg-compare .group-button,
  .form-thank .group-button {
    padding: 20px 0px 10px;
  }
  #mg-compare .group-button .btn,
  .form-thank .group-button .btn {
    width: 100%;
  }
  #mg-compare #tab-compare .ct-mobile,
  .form-thank #tab-compare .ct-mobile {
    margin-bottom: 0px !important;
  }
  #mg-compare #tab-compare .ct-mobile .ct-pagitem,
  .form-thank #tab-compare .ct-mobile .ct-pagitem {
    height: 110px !important;
  }
  #mg-compare.mg3--hatchback #car-compare,
  .form-thank.mg3--hatchback #car-compare,
  #mg-compare.mg3--xross #car-compare,
  .form-thank.mg3--xross #car-compare {
    margin-bottom: 20px;
  }
  #car-compare {
    max-width: 450px;
    margin: 0 auto;
    background: none;
  }
  #car-compare .list {
    overflow: hidden;
  }
  #car-compare .list li {
    width: 152px;
    float: left;
    padding: 0 4px;
  }
  #car-compare .item {
    width: 108px;
  }
  #car-compare label {
    font-size: 14px;
    font-size: 1.4rem;
  }
  table.table-compares *[data-model="mg-column-0"] {
    display: none;
  }
  table.table-compares thead > tr > th {
    padding: 5px;
    text-align: center;
  }
  table.table-compares-mobile .group-title {
    display: table-cell;
    color: #333333;
    padding-left: 5px;
    padding-right: 5px;
  }
  table.table-compares-mobile tbody th.group-title {
    font-size: 16px;
    font-size: 1rem;
    border-top: 1px solid #DDD !important;
    border-bottom: 2px solid #DDD !important;
  }
  table.table-compares-mobile tbody th,
  table.table-compares-mobile tbody td {
    border-left: 1px solid #DDD !important;
    border-right: 2px solid #DDD !important;
  }
  table.table-compares-mobile tbody .icon-collapse {
    left: 5px;
    margin-top: -2px;
  }
  table.table-compares-mobile *[data-model="mg-column-4"] {
    display: none;
  }
  table.table-compares-mobile .fix-padding {
    padding-left: 5px;
  }
  
  #data-compare .car {
    width: 80px;
    margin: 0 auto;
  }
  #data-compare .header-table {
    padding: 0px;
  }
  #data-compare .body-table {
    padding: 25px 0px 0px;
  }
  #data-compare .body-table.new-mg5 {
    padding-top: 0;
  }
  #data-compare .body-table.new-mg5 .group-button .btn + .btn {
    margin-top: 20px;
  }
  #data-compare .note {
    margin: 0;
    padding: 0px 5px 5px;
  }
  .remark-header {
    padding: 0px 5px;
    top: 14px;
  }
  .remark-header p {
    font-size: 14px;
    font-size: 1.4rem;
  }
}
#banner-pro {
  background-color: #d2232a;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
}
#banner-pro blockquote {
  color: #ffffff;
  margin: 0;
  padding-top: 30px;
}
#banner-pro blockquote .title {
  font-size: 30px;
  font-size: 3rem;
  color: white;
  font-weight: bold;
}
#banner-pro blockquote p {
  font-size: 18px;
  font-size: 1.8rem;
  margin: 0;
}
#banner-pro .info {
  background-color: #ffffff;
  overflow: hidden;
  padding: 10px 10px 10px 140px;
  position: relative;
}
#banner-pro .info .logo {
  position: absolute;
  left: 4px;
  top: 12px;
}
#banner-pro .info span {
  display: block;
}
#banner-pro .info .list {
  overflow: hidden;
  margin: 0;
}
#banner-pro .info .list li {
  float: left;
  display: inline-block;
}
#banner-pro .info .name {
  color: #d2232a;
  font-weight: bold;
  font-size: 20px;
  font-size: 2rem;
}
#banner-pro .info .price {
  color: #000000;
}
#banner-pro .info .pic {
  max-width: 270px;
}
#banner-pro .info .remark {
  font-size: 10px;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  right: 10px;
  z-index: 99;
}
@media only screen and (min-width: 992px) {
  #banner-pro blockquote {
    padding-top: 10px;
  }
  #banner-pro .info {
    padding-right: 0;
    padding-left: 85px;
  }
  #banner-pro .info .logo {
    max-width: 80px;
  }
  #banner-pro .info .list li {
    padding: 0px 5px;
  }
}
@media only screen and (min-width: 1200px) {
  #banner-pro blockquote {
    padding-top: 30px;
  }
  #banner-pro .info {
    padding-right: 10px;
    padding-left: 140px;
  }
  #banner-pro .info .logo {
    max-width: 112px;
  }
  #banner-pro .info .list li {
    padding: 0px 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #banner-pro blockquote {
    margin-bottom: 10px;
    padding: 0;
  }
  #banner-pro blockquote .title {
    margin-bottom: 0px;
  }
  #banner-pro .info {
    padding-left: 100px;
  }
  #banner-pro .info .logo {
    max-width: 90px;
  }
  #banner-pro .info .list li {
    padding: 0px 5px;
  }
}
@media only screen and (max-width: 767px) {
  #banner-pro {
    padding: 10px;
  }
  #banner-pro blockquote {
    margin-bottom: 10px;
    padding: 0;
  }
  #banner-pro blockquote .title {
    margin-bottom: 5px;
    line-height: 1;
  }
  #banner-pro .info {
    padding-left: 10px;
  }
  #banner-pro .info .list li {
    padding: 0;
    margin-top: 10px;
    float: none;
    width: 100%;
  }
  #banner-pro .info .list li + li {
    margin-top: 20px;
  }
  #banner-pro .info .pic {
    margin: 5px auto 0px;
  }
  #banner-pro .info .logo {
    left: -10px;
    top: 0;
    position: relative;
  }
}
#mg-experience .section .group-title .title {
  color: #d2232a;
  font-size: 38px;
  font-size: 3.8rem;
  font-family: "nobel-bold",Helvetica,Arial,sans-serif;
  margin-bottom: 0;
  text-align: center;
}
#mg-experience .section .group-title span.line {
  border-top: 1px solid #d2232a;
  border-bottom: 1px solid #d2232a;
  position: relative;
  height: 5px;
  display: block;
  margin-bottom: 0;
}
#mg-experience .section .group-title td {
  vertical-align: middle;
  padding-left: 0;
  padding-right: 0;
}
#mg-experience .section__experience {
  background-image: url('../Home_files/experience/bg_lead.jpg');
  background-position: center bottom;
  background-size: cover;
  height: 460px;
  position: relative;
  background-repeat: no-repeat;
  display: table;
  width: 100%;
}
#mg-experience .section__experience .row {
  display: table;
  width: 100%;
  height: 100%;
  margin: 0;
}
#mg-experience .section__experience .inline-table {
  display: table;
  min-height: 460px;
  height: 100%;
  padding: 0;
}
#mg-experience .section__experience blockquote {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.851);
  position: absolute;
  bottom: 35px;
  margin: 0;
  padding: 20px 20px 20px 100px;
}
#mg-experience .section__experience blockquote .title {
  font-size: 34px;
  font-size: 3.4rem;
  color: #333333;
  margin-bottom: 0;
}
#mg-experience .section__aboutus {
  padding-top: 30px;
  padding-bottom: 30px;
}
#mg-experience .section__aboutus header {
  margin-bottom: 15px;
}
#mg-experience .section__aboutus .info p {
  font-size: 18px;
  font-size: 1.8rem;
      font-family: "nobel-regular",Helvetica,Arial,sans-serif;
  line-height: 1.6;
}
#mg-experience .section__aboutus .info p + p {
  margin-top: 0;
}
#mg-experience .section__aboutus .info .list {
  font-size: 18px;
  font-size: 1.8rem;
      font-family: "nobel-regular",Helvetica,Arial,sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0;
  padding-left: 20px;
  line-height: 1.6;
}
#mg-experience .section__apply {
  background-color: #f2f2f2;
  padding-top: 20px;
  padding-bottom: 30px;
      font-family: "nobel-regular",Helvetica,Arial,sans-serif;
}
#mg-experience .section__apply strong {
      font-family: "nobel-regular",Helvetica,Arial,sans-serif;
}
#mg-experience .section__apply section + section {
  margin-top: 20px;
}
#mg-experience .section__apply .fixed {
  margin-top: 10px;
}
#mg-experience .section__apply .title {
  font-size: 20px;
  font-size: 2rem;
  color: #333333;
  margin-bottom: 0px;
}
#mg-experience .section__apply .intro {
  font-size: 20px;
  font-size: 2rem;
  text-align: center;
}
#mg-experience .section__apply .intro strong {
  color: #333333;
}
#mg-experience .section__apply .intro em {
  font-size: 28px;
  font-size: 2.8rem;
  font-style: normal;
  color: #333333;
}
#mg-experience .section__apply .car {
  display: block;
  margin: 35px auto 0px;
  text-align: center;
}
#mg-experience .section__apply p + p {
  margin-top: 0;
}
#mg-experience .section__apply .list,
#mg-experience .section__apply p,
#mg-experience .section__apply li {
  font-size: 18px;
  font-size: 1.8rem;
  margin-left: 0;
  margin-bottom: 0;
}
#mg-experience .section__apply .list-inline {
  margin-top: 10px;
}
#mg-experience .section__apply .list-inline li {
  padding-top: 5px;
  padding-bottom: 5px;
}
#mg-experience .section__apply .list-inline i {
  vertical-align: middle;
  margin-right: 10px;
}
#mg-experience .section__map {
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: #f2f2f2;
}
#mg-experience .section__map .pic {
  max-width: 652px;
  display: block;
  box-shadow: 0px 0px 6px 0px rgba(92, 92, 92, 0.3);
  position: relative;
}
#mg-experience .section__map .pic .group {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -82px;
  margin-top: -42px;
}
#mg-experience .section__map .pic .btn {
  display: block;
}
#mg-experience .section__map .pic .btn + .btn {
  margin-top: 10px;
}
#mg-experience .section__map .address {
  display: table;
  width: 100%;
  height: 100%;
}
#mg-experience .section__map .address .group {
  display: table-cell;
  vertical-align: bottom;
  width: 100%;
}
#mg-experience .section__map .address p {
      font-family: "nobel-regular",Helvetica,Arial,sans-serif;
}
#mg-experience .section__map .address strong {
  display: block;
      font-family: "nobel-regular",Helvetica,Arial,sans-serif;
  color: #333333;
  font-size: 18px;
  font-size: 1.8rem;
}
#mg-experience .section__preparation {
  padding-top: 20px;
  padding-bottom: 30px;
}
#mg-experience .section__preparation .title {
  font-size: 24px;
  font-size: 2.4rem;
  margin-bottom: 15px;
  font-family: "nobel-bold",Helvetica,Arial,sans-serif;
  color: #333333;
  line-height: 1.1;
}
#mg-experience .section__preparation .title span {
  font-size: 18px;
  font-size: 1.8rem;
}
#mg-experience .section__preparation .list,
#mg-experience .section__preparation .note {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.6;
      font-family: "nobel-regular",Helvetica,Arial,sans-serif;
}
#mg-experience .section__preparation strong {
  color: #d2232a;
      font-family: "nobel-regular",Helvetica,Arial,sans-serif;
}
@media only screen and (min-width: 992px) {
  #mg-experience .section__experience blockquote {
    padding-left: 28px;
  }
  #mg-experience .section__preparation .group-title td,
  #mg-experience .section__preparation .group-title td + td + td {
    width: 20%;
  }
  #mg-experience .section__preparation .group-title td + td {
    width: 60%;
  }
}
@media only screen and (min-width: 1200px) {
  #mg-experience .section__aboutus {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #mg-experience .section__experience .inline-table {
    width: 43%;
  }
  #mg-experience .section__experience blockquote {
    text-align: right;
    padding-left: 100px;
    bottom: 40px;
    padding-right: 28px;
    width: 100%;
  }
  #mg-experience .section__preparation .group-title td,
  #mg-experience .section__preparation .group-title td + td + td {
    width: 30%;
  }
  #mg-experience .section__preparation .group-title td + td {
    width: 40%;
  }
  #mg-experience .section__apply,
  #mg-experience .section__preparation {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #mg-experience .section__experience .inline-table {
    width: 63%;
  }
  #mg-experience .section__experience blockquote {
    padding-left: 25px;
    width: 100%;
  }
  #mg-experience .section__preparation .group-title td,
  #mg-experience .section__preparation .group-title td + td + td {
    width: 10%;
  }
  #mg-experience .section__preparation .group-title td + td {
    width: 80%;
  }
  #mg-experience .section__apply .car {
    margin: 30px auto;
  }
  #mg-experience .section__map {
    padding-bottom: 30px;
  }
  #mg-experience .section__map .pic {
    max-width: 100%;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  #mg-experience .section .group-title .title {
    font-size: 26px;
    font-size: 2.6rem;
  }
  #mg-experience .section .group-title td:first-child {
    width: 20%;
  }
  #mg-experience .section .group-title td:first-child + td {
    width: 60%;
  }
  #mg-experience .section .group-title td:last-child {
    width: 20%;
  }
  #mg-experience .section__experience {
    height: 260px;
    background-image: url('../Home_files/experience/bg_lead_xs.jpg');
    background-position: center center;
  }
  #mg-experience .section__experience .inline-table {
    min-height: 260px;
    width: 95%;
  }
  #mg-experience .section__experience blockquote {
    text-align: left;
    padding: 10px;
    margin-left: 0;
    bottom: 25px;
  }
  #mg-experience .section__experience blockquote .title {
    font-size: 22px;
    font-size: 2.2rem;
  }
  #mg-experience .section__aboutus {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #mg-experience .section__aboutus header {
    margin-bottom: 0;
  }
  #mg-experience .section__aboutus .info p {
    font-size: 16px;
    font-size: 1.6rem;
  }
  #mg-experience .section__aboutus .info .list {
    font-size: 16px;
    font-size: 1.6rem;
  }
  #mg-experience .section__preparation {
    padding: 10px 0px;
  }
  #mg-experience .section__preparation .title {
    font-size: 20px;
    font-size: 2rem;
  }
  #mg-experience .section__preparation .list,
  #mg-experience .section__preparation .note {
    font-size: 16px;
    font-size: 1.6rem;
  }
  #mg-experience .section__apply .title {
    font-size: 18px;
    font-size: 1.8rem;
  }
  #mg-experience .section__apply .list,
  #mg-experience .section__apply p,
  #mg-experience .section__apply li {
    font-size: 16px;
    font-size: 1.6rem;
    margin-left: 0;
    margin-bottom: 0;
  }
  #mg-experience .section__apply .intro em {
    font-size: 24px;
    font-size: 2.4rem;
  }
  #mg-experience .section__apply table {
    margin-bottom: 0;
  }
  #mg-experience .section__apply .car {
    margin: 20px auto 20px;
    max-width: 280px;
  }
  #mg-experience .section__map {
    padding-bottom: 20px;
    padding-top: 10px;
  }
  #mg-experience .section__map .group-title {
    margin-bottom: 10px;
  }
  #mg-experience .section__map .pic {
    max-width: 100%;
    margin-bottom: 20px;
  }
  #mg-experience .section__map p + p {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 420px) {
  #mg-experience .section header .group-title {
    margin-bottom: 5px;
  }
  #mg-experience .section__experience {
    height: 210px;
    background-position: center top;
  }
  #mg-experience .section__experience .inline-table {
    min-height: 210px;
    width: 95%;
  }
  #mg-experience .section__apply .list-inline a {
    font-size: 15px;
    font-size: 1.5rem;
  }
}
body.th .show-th-list {
  display: list-item;
}
body.en .show-th-list {
  display: none;
}
.form-calculator {
  margin-top: 40px;
}
.form-calculator .btn-clear {
  margin-top: 30px;
  margin-bottom: 0;
  text-align: right;
}
@media only screen and (max-width: 767px) {
  .form-calculator {
    margin-top: 0;
  }
  .form-calculator .btn-clear {
    margin-top: 20px;
    text-align: center;
  }
}
.form-calculator .line.vertical span {
  height: 45px;
  width: 50%;
}
.form-calculator .line.vertical span p {
  background-color: white;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .form-calculator .line {
    border-bottom: 0;
  }
}
@media only screen and (max-width: 767px) {
  .form-calculator .line.group-button {
    margin-top: 35px;
  }
  .form-calculator .btn-primary {
    max-width: 280px;
  }
  .form-calculator .btn-white {
    background-image: url('../Home_files/btn_white_clear.png');
    width: 280px;
    height: 48px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
  }
  .form-calculator .btn-white:hover,
  .form-calculator .btn-white:active {
    background-image: url('../Home_files/btn_white_clear_.png');
    background-position: 0 0;
  }
  .form-calculator.form-horizontal .form-group.has-error {
    margin-top: 0;
  }
  .form-calculator .form-group.form-error [class*="col-"] {
    padding-left: 0;
  }
  .form-calculator .form-group.form-error .text-danger {
    padding-top: 10px;
    margin: 0;
  }
  .form-calculator .form-group .fixed-padding {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.form-calculator .bootstrap-select.btn-group .dropdown-menu dt {
  padding-top: 6px;
  padding-bottom: 6px;
}
#form-layout .bg-success table.table-list .baht,
#form-layout .bg-success table.table-total [rel="title"] {
  line-height: 1.1 !important;
}
#form-layout .bg-success table.table-total .baht.big {
  line-height: 1;
}
#form-layout .bg-success table.table-total th,
#form-layout .bg-success table.table-total td {
  padding-top: 10px;
}
.calculator-note {
  margin-top: 20px;
  display: table;
  width: 100%;
}
.calculator-note li {
  display: table-cell;
}
.calculator-note li + li {
  padding-left: 10px;
}
@media only screen and (max-width: 767px) {
  .calculator-note li {
    display: table;
  }
  .calculator-note li + li {
    margin-top: 10px;
    padding-left: 0;
  }
}
#mg5-price {
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  display: block;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
}
#mg5-price .container {
  position: relative;
  margin-top: 25px;
}
#mg5-price .container .logo {
  background-image: url('../Home_files/logo_mg5@2x.png');
  background-size: 242px 55px;
  width: 242px;
  height: 55px;
  margin-top: 10px;
  display: block;
}
#mg5-price .container .mg-car {
  background-image: url('../Home_files/car_mg5.png');
  display: block;
  position: absolute;
}
#mg5-price .container table.price {
  max-width: 450px;
  margin: 60px auto 0;
  color: #2d2d2d;
  float: right;
}
#mg5-price .container table.price tr.header td {
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: lighter !important;
  text-align: left;
  color: #cf0d2b;
  border-bottom: 1px solid #999;
  padding: 4px 0;
}
#mg5-price .container table.price tr.price2 td {
  padding-top: 25px;
}
#mg5-price .container table.price tr.comment td {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: lighter !important;
  text-align: left;
  padding-top: 15px;
}
#mg5-price .container table.price tr.top th,
#mg5-price .container table.price tr.top td {
  padding-top: 15px;
}
#mg5-price .container table.price th {
  font-size: 14px;
  font-size: 1.4rem;
  padding: 6px 0;
  font-weight: lighter !important;
}
#mg5-price .container table.price td {
  padding: 6px 0;
}
#mg5-price .container table.price td:last-child {
  font-weight: bold;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.2;
  text-align: right;
}
#mg5-price .container table.price td:last-child span {
  font-size: 14px;
  font-size: 1.4rem;
}
#mg5-price .container table.price td:last-child em {
  font-style: normal;
}
#mg5-price .container .group-btn {
  display: block;
  text-align: center;
  margin: 20px 0 0 0;
  width: 450px;
  float: right;
  position: relative;
}
#mg5-price .container .group-btn .btn {
  margin-left: 5px;
  margin-right: 5px;
}
#mg5-price .container .group-btn p {
  padding: 0;
  margin: 0;
  color: #fff;
  font-weight: lighter;
  font-size: 14px;
  font-size: 1.4rem;
  position: absolute;
  top: 110px;
  left: 15px;
}
@media only screen and (min-width: 1200px) {
  #mg5-price {
    min-height: 620px;
    background-image: url("../Home_files/bg-mg5-price.jpg");
  }
  #mg5-price .container .mg-car {
    width: 1024px;
    height: 350px;
    top: 200px;
    left: -380px;
  }
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  #mg5-price {
    min-height: 610px;
    background-image: url("../Home_files/bg-mg5-price.jpg");
  }
  #mg5-price .container .mg-car {
    background-size: 850px 291px;
    width: 850px;
    height: 291px;
    top: 250px;
    left: -340px;
  }
  #mg5-price .container table.price {
    margin: 60px auto 0;
  }
  #mg5-price .container .group-btn p {
    top: 100px;
  }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  #mg5-price {
    min-height: 860px;
    background-image: url("../Home_files/bg-mg5-price-2.jpg");
  }
  #mg5-price .container .logo {
    margin: 0 auto;
  }
  #mg5-price .container .mg-car {
    background-size: 800px 273px;
    width: 800px;
    height: 273px;
    top: 570px;
    left: -170px;
  }
  #mg5-price .container table.price {
    max-width: 480px;
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
    float: none;
    text-align: center;
  }
  #mg5-price .container table.price tr.comment td {
    padding-left: 20px;
  }
  #mg5-price .container .group-btn {
    margin: 20px 0 0 0;
    float: none;
    text-align: center;
    width: 100%;
  }
  #mg5-price .container .group-btn p {
    top: 70px;
    left: 150px;
    color: #2d2d2d;
  }
}
@media only screen and (max-width: 767px) {
  #mg5-price {
    min-height: 890px;
    background-image: url("../Home_files/bg-mg5-price-2.jpg");
  }
  #mg5-price .container .logo {
    margin: 0 auto;
  }
  #mg5-price .container .mg-car {
    background-image: url('../Home_files/car_mg5-2.png');
    background-size: 305px 165px;
    width: 100%;
    height: 165px;
    top: 700px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: -10px;
  }
  #mg5-price .container table.price {
    margin: 0 auto;
    margin-top: 20px;
    width: 285px;
    float: none;
    text-align: center;
  }
  #mg5-price .container table.price tr.comment td {
    padding-left: 5px;
    text-align: center;
  }
  #mg5-price .container table.price td:last-child {
    text-align: right;
    width: 134px;
  }
  #mg5-price .container table.price td:last-child span {
    font-size: 14px;
    font-size: 1.4rem;
  }
  #mg5-price .container .group-btn {
    float: none;
    text-align: center;
    width: 305px;
    margin: 0 auto;
    position: relative;
    top: 15px;
  }
  #mg5-price .container .group-btn .btn-primary {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    display: block;
  }
  #mg5-price .container .group-btn p {
    top: 100px;
    left: 30px;
    color: #2d2d2d;
  }
}
#mg5-option {
  background-image: url("../Home_files/new-mg5/exterior/bg_main_02_shadow.jpg");
  background-color: #222222;
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
#mg5-option .logo {
  max-width: 150px;
  display: inline-block;
}
@media only screen and (min-width: 992px) {
  #mg5-option {
    padding-top: 96px;
  }
}
@media only screen and (min-width: 1200px) {
  #mg5-option {
    padding-top: 138px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #mg5-option {
    padding-top: 72px;
  }
}
@media only screen and (max-width: 767px) {
  #mg5-option {
    padding-top: 120px;
    background-image: url("../Home_files/new-mg5/exterior/bg_main_02.jpg");
    height: 400px;
    background-size: cover;
  }
  #mg5-option .logo {
    max-width: 75px;
  }
}
@media only screen and (max-width: 600px) {
  #mg5-option {
    height: 300px;
  }
}
#mg5-option #list-zone {
  border: none;
  padding-left: 10px;
  margin-bottom: 0;
}
#mg5-option #list-zone li {
  border: none;
  text-align: center;
}
#mg5-option #list-zone li em {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  display: table;
  vertical-align: middle;
}
#mg5-option #list-zone li span {
  margin-left: -10px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #mg5-option #list-zone li em {
    padding-top: 15px;
    padding-bottom: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  #mg5-option #list-zone li span {
    margin-bottom: 20px;
    margin-left: 0;
    padding-left: 0;
  }
}
#mg5-option .container {
  position: relative;
}
#mg5-option .lead {
  margin-bottom: 0;
}
@media only screen and (min-width: 992px) {
  #mg5-option .lead {
    margin-top: -100px;
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  #mg5-option .lead {
    margin-top: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #mg5-option .lead {
    margin-top: -150px;
  }
}
#mg5-option .lead .group-intro {
  margin-bottom: 20px;
}
#mg5-option .lead .title {
  color: #ffffff;
  font-size: 28px;
  font-size: 2.8rem;
  margin-bottom: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #mg5-option .lead .title {
    font-size: 24px;
    font-size: 2.4rem;
  }
}
#mg5-option .lead blockquote {
  color: #ffffff;
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #mg5-option .lead blockquote {
    margin-bottom: 0;
  }
  #mg5-option .lead blockquote .logo {
    margin-bottom: 10px;
  }
}
#mg5-option .lead blockquote p {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: normal;
      font-family: "nobel-regular",Helvetica,Arial,sans-serif;
}
#mg5-option .car-model {
  background-image: url("../Home_files/new-mg5/exterior/car_mg5.png");
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  height: 450px;
  display: block;
}
@media only screen and (min-width: 992px) {
  #mg5-option .car-model {
    background-size: contain;
  }
}
@media only screen and (min-width: 1200px) {
  #mg5-option .car-model {
    margin-top: 0.7%;
  }
}
@media only screen and (max-width: 767px) {
  #mg5-option .car-model {
    background-image: url("../Home_files/new-mg5/exterior/car_mg5_shadow.png");
  }
}
.mg5-option-detail {
  background-color: #222222;
  padding-bottom: 10px;
}
.mg5-option-detail blockquote,
.mg5-option-detail .title {
  color: #ffffff;
}
.mg5-option-detail .logo {
  display: inline-block;
  margin-bottom: 5px;
  max-width: 120px;
}
.mg5-option-detail .title {
  font-size: 20px;
  font-size: 2rem;
  margin-bottom: 5px;
  padding-top: 5px;
}
.mg5-option-detail p {
  font-size: 16px;
  font-size: 1.6rem;
      font-family: "nobel-regular",Helvetica,Arial,sans-serif;
}
.mg5-option-detail .visible-ss {
  display: hidden;
}
@media only screen and (max-width: 480px) {
  .mg5-option-detail .visible-ss {
    display: block;
  }
}
#mg5-seat {
  background-color: #231F20;
  overflow: hidden;
}
#mg5-seat .preview {
  background-image: url("../Home_files/new-mg5/interior/seat/bg_interior_seat_wide.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  #mg5-seat .preview {
    height: 600px;
  }
}
@media only screen and (min-width: 992px) {
  #mg5-seat .preview {
    height: 737px;
  }
}
@media only screen and (min-width: 1200px) {
  #mg5-seat .preview {
    width: 900px;
  }
}
@media only screen and (min-width: 1400px) {
  #mg5-seat .preview {
    width: 1087px;
  }
}
@media only screen and (max-width: 767px) {
  #mg5-seat .preview {
    background-image: url("../Home_files/new-mg5/interior/seat/bg_interior_seat_768.jpg");
    background-size: cover;
    background-position: center top;
    height: 400px;
  }
}
@media only screen and (max-width: 480px) {
  #mg5-seat .preview {
    height: 200px;
  }
}
#mg5-seat .seat {
  padding-left: 40px;
  display: table-cell;
  vertical-align: middle;
}
#mg5-seat .seat span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-size: 1.8rem;
}
#mg5-seat .seat .pic {
  max-width: 268px;
}
#mg5-seat .seat .info {
  margin-top: 20px;
}
@media only screen and (min-width: 1200px) {
  #mg5-seat .seat {
    padding-left: 140px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #mg5-seat .seat .pic {
    max-width: 200px;
  }
  #mg5-seat .seat .info {
    white-space: nowrap;
  }
}
@media only screen and (max-width: 767px) {
  #mg5-seat .seat {
    display: block;
  }
  #mg5-seat .seat span {
    display: inline-block;
  }
  #mg5-seat .seat .pic {
    max-width: 140px;
  }
  #mg5-seat .seat .info {
    font-size: 13px;
    font-size: 1.3rem;
    white-space: nowrap;
    padding-left: 10px;
    margin-top: 0;
  }
}
@media only screen and (max-width: 400px) {
  #mg5-seat .seat .pic {
    max-width: 100px;
  }
}
#mg5-seat .seat .list {
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 992px) {
  #mg5-seat .seat .list {
    margin-left: -102px;
  }
}
@media only screen and (min-width: 1200px) {
  #mg5-seat .seat .list {
    margin-left: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #mg5-seat .seat .list {
    margin-left: -94px;
  }
}
@media only screen and (max-width: 767px) {
  #mg5-seat .seat .list {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 768px) {
  #mg5-seat .seat li {
    margin-top: 0;
  }
  #mg5-seat .seat li + li {
    margin-left: -40px;
    margin-top: 40px;
  }
  #mg5-seat .seat li + li + li {
    margin-left: -80px;
  }
}
@media only screen and (max-width: 767px) {
  #mg5-seat .seat {
    display: block;
    padding: 0px 10px;
  }
  #mg5-seat .seat li {
    margin: 0;
  }
  #mg5-seat .seat li + li {
    margin-top: 10px;
  }
}
.mg5-accessories .button-download {
  position: relative;
  float: right;
  margin-top: -50px;
}
@media only screen and (max-width: 767px) {
  .mg5-accessories .button-download {
    float: none;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .mg5-accessories .button-download .btn-primary {
    font-size: 14px;
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 992px) {
  /* > 992 =================================================== */
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .backdrop {
    min-height: 400px;
  }
  .backdrop span {
    height: 100px;
  }
  .backdrop + .content {
    margin-top: -180px;
  }
  #aftersale.backdrop {
    background-image: url('../Home_files/lead_aftersale_.jpg');
  }
  #testdrive.backdrop {
    background-size: cover;
    background-position: center top -50px;
  }
  #fleet-regis.backdrop {
    background-position: left top;
  }
  .white-layout {
    min-height: 480px;
  }
  #mg-page .min-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }
  #mg-page .min-gutter [rel="gutter-10"] {
    padding-left: 5px;
    padding-right: 5px;
  }
  nav#menu ul.main-menu {
    margin: -61px 0px 0px 105px;
  }
  nav#menu ul.main-menu li {
    margin-left: 20px;
    padding-bottom: 16px;
    padding-top: 16px;
    vertical-align: middle;
  }
  body.th nav#menu ul.main-menu li {
    margin-left: 25px;
  }
  html.firefox nav#menu ul.main-menu li {
    margin-left: 15px;
  }
  html.firefox body.th nav#menu ul.main-menu li {
    margin-left: 20px;
  }
  nav#menu .dropdown-toggle i {
    bottom: -55px;
  }
  nav#menu .full-width.bg-graytra {
    background-color: rgba(236, 236, 236, 0.5);
    padding: 0;
    box-shadow: none;
  }
  nav#menu .full-width.fixed-height {
    padding: 12px 0px;
    height: 40px;
  }
  nav#menu ul.show-model {
    background-color: #ECECEC;
    display: inline-block;
    margin: 0;
    padding: 35px 30px 20px;
    margin-top: 0;
    margin-left: 9.5%;
  }
  html.firefox nav#menu ul.show-model {
    margin-left: 11%;
  }
  nav#menu ul.show-model li {
    text-align: center;
    vertical-align: top;
    padding: 0;
  }
  nav#menu #collapseMThree.sub-menu {
    text-align: right;
    padding-right: 19%;
  }
  nav#menu #collapseMFour.sub-menu {
    text-align: right;
  }
  nav#menu #collapseMFive.sub-menu {
    margin-right: 18%;
    float: right;
    padding-top: 20px;
    padding-left: 15px;
  }
  nav#menu #collapseMFive.sub-menu.show-model {
    margin-left: 0;
  }
  body.firefox nav#menu #collapseMFive.sub-menu {
    margin-right: 19.5%;
  }
  body.th nav#menu ul.main-menu {
    margin-top: -60px;
  }
  body.th nav#menu ul.main-menu li a {
    font-size: 16px;
    font-size: 1.6rem;
  }
  body.th nav#menu ul.sub-menu li {
    margin-left: 33px;
  }
  body.th nav#menu ul.sub-menu li:first-child {
    margin-left: 0px;
  }
  body.th nav#menu ul.sub-menu li a {
    font-size: 16px;
    font-size: 1.6rem;
  }
  body.th nav#menu #collapseMThree.sub-menu {
    padding-right: 16.5%;
  }
  html.firefox nav#menu ul.main-menu li:first-child {
    margin-left: 0;
  }
  html.firefox body.th nav#menu ul.main-menu li:first-child {
    margin-left: 0;
  }
  #language {
    padding-left: 25px;
  }
  html.firefox #language {
    padding-left: 15px;
  }
  #language li + li {
    padding-left: 10px;
  }
  #language li + li a {
    border-left: 1px solid #696969;
    padding-left: 10px;
  }
  #card-heritage {
    height: 317px;
  }
  #card-heritage header .title {
    font-size: 26px;
    font-size: 2.6rem;
  }
  #card-heritage .info {
    padding: 12px 9px 10px;
  }
  #card-heritage .info .title {
    font-size: 20px;
    font-size: 2rem;
    margin-top: -12px;
  }
  body.en #card-heritage .info .pic {
    margin-top: -16px;
  }
  #card-heritage .double-border {
    background-size: contain;
  }
  #card-heritage .founder {
    margin-top: 15px;
    width: 100px;
    height: 100px;
  }
  #card-heritage footer {
    bottom: 20px;
  }
  body.en #card-heritage footer {
    bottom: 15px;
  }
  #card-heritage footer blockquote {
    font-size: 18px;
    font-size: 1.8rem;
  }
  #our-heritage .car {
    left: -144px;
    top: -16px;
  }
  body.en #our-heritage {
    padding-bottom: 5px;
  }
  #lead-desktop {
    background-size: cover;
    background-position: center center;
    height: 480px;
  }
  #box-left .section-box + .section-box,
  #box-right .section-box + .section-box {
    margin-top: 10px;
  }
  #career blockquote {
    margin-bottom: 20px;
  }
  #career .filter-view {
    display: block;
    position: relative;
    padding: 0;
  }
  #career .mission .line.heading span {
    border-color: #ffffff;
  }
  #career .core-value .row {
    margin-top: -20px;
  }
  #career .core-value .column {
    max-width: 100%;
    margin-top: 20px;
  }
  #career .core-value .column:last-child .list {
    border-right: 1px solid #ebebeb;
  }
  #career .core-value .column.four .list {
    border-right: none;
  }
  #address {
    width: 100%;
  }
  #map-canvas {
    margin-bottom: 20px;
  }
  #about-fleet.have-bg {
    background-image: url('../Home_files/bg_mg_fleet.jpg');
    background-size: 367px 200px;
    background-repeat: no-repeat;
    background-position: right 20px bottom 100px;
  }
  #about-fleet blockquote {
    margin-bottom: 20px;
  }
  #info-aftersale .group-button .btn {
    text-align: left;
  }
  #info-innovation .block {
    height: 700px;
  }
  #info-innovation .safety .group-title td:first-child {
    width: 38%;
  }
  .gototop {
    right: 50px;
  }
  .submodel ul.list li + li {
    padding: 0;
    margin-left: 15px;
  }
  .have-space {
    margin-top: 60px;
    padding-top: 0;
  }
  #mg-spec .item-three,
  #mg-spec .item-four {
    margin-top: 20px;
  }
  #mg-spec .card .baht {
    text-align: right;
  }
  .sedan-model .card.item-five {
    margin-top: 20px;
  }
  #present-car .function {
    margin-top: 160px;
  }
  #present-car .ct-tab {
    width: 630px;
  }
  #present-car .ct-size-large > .ct-tab.ct-pag-hor .ct-pagitem {
    padding: 20px 3px;
  }
  #present-car .ct-table {
    bottom: 126px;
    max-width: 610px;
  }
  #present-car footer {
    padding-right: 34px;
  }
  #present-car footer [rel="two-block"] {
    padding: 0;
    margin-left: 0px;
  }
  #present-car.mg3 .function {
    margin-top: 79px;
  }
  #present-car.mg3 .ct-tab {
    width: 620px;
    padding-left: 0;
    padding-right: 0;
  }
  #present-car.mg3 .ct-pagitem {
    padding-left: 15px;
    padding-right: 15px;
  }
  #present-car.mg3 .brochure {
    margin-left: 25px;
  }
  #present-car.mg3 .intro .logo {
    right: 0;
    margin-top: 50px;
  }
  #present-car.mg3 footer [rel="two-block"] {
    margin-top: -15px;
    margin-left: 20px;
  }
  #present-car .group-shadow {
    width: 620px;
  }
  #present-car .shadow-tab.left,
  #present-car .shadow-tab.right {
    height: 142px;
  }
  #present-car.xross-model .ct-tab {
    width: 525px;
  }
  #present-car.xross-model .ct-size-large > .ct-tab.ct-pag-hor .ct-pagitem {
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  #present-car.xross-model .group-shadow {
    display: none !important;
  }
  #present-car.xross-model .intro .logo {
    margin-top: -40px;
  }
  #present-car.new-mg6 blockquote {
    padding: 0;
    margin: 0;
  }
  #present-car.new-mg6 .function {
    margin-top: 180px;
  }
  #present-car.new-mg6 .ct-size-large > .ct-tab.ct-pag-hor .ct-pagitem {
    padding-bottom: 10px;
  }
  #present-car.new-mg6 .link-point a#p-one {
    top: 188px;
    left: 50%;
    margin-left: -379px;
  }
  #present-car.new-mg6 .link-point a#p-two {
    top: 108px;
    left: 50%;
    margin-left: 30px;
  }
  #present-car.new-mg6 .link-point a#p-three {
    top: 202px;
    right: 50%;
    margin-right: -134px;
  }
  #present-car.new-mg6 .link-point a#p-four {
    top: 187px;
    right: 50%;
    margin-right: -332px;
  }
  #present-car.new-mg6 .link-point a#p-five {
    right: 50%;
    top: 174px;
    margin-right: -440px;
  }
  #present-car.new-mg6 .link-point a#p-six {
    right: 50%;
    top: 174px;
    margin-right: -440px;
  }
  #present-car.new-mg6 .link-point a#p-seven {
    right: 50%;
    top: 46px;
    margin-right: -285px;
  }
  #present-car.new-mg6 footer [rel="two-block"] [class*="col-"] {
    padding-right: 0;
  }
  #present-car.new-mg5 blockquote {
    top: 0;
  }
  #present-car.new-mg5 .ct-tab {
    width: 646px;
    margin-left: -10px;
    background-image: url("../Home_files/new-mg5/exterior/bg_tab_md.png");
  }
  #present-car.new-mg5 .ct-pagitem {
    background-image: none;
  }
  #present-car.new-mg5 .ct-pagitem + .ct-pagitem {
    margin-left: -22px;
  }
  #present-car.new-mg5 .ct-pagitem + .ct-pagitem + .ct-pagitem {
    margin-left: -44px;
  }
  #present-car.new-mg5 .ct-pagitem + .ct-pagitem + .ct-pagitem + .ct-pagitem {
    margin-left: -66px;
  }
  #present-car.new-mg5 .ct-pagitem + .ct-pagitem + .ct-pagitem + .ct-pagitem + .ct-pagitem {
    margin-left: -88px;
  }
  #present-car.new-mg5 .ct-pagitem.ct-cur {
    background-image: url("../Home_files/new-mg5/exterior/bg_tab_active_md.png");
  }
  #present-car.new-mg5 .ct-size-large > .ct-tab.ct-pag-hor .ct-pagitem {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 18px;
    padding-right: 18px;
    border: none;
  }
  #present-car.new-mg5 .link-point a#p-one {
    top: 290px;
    left: 320px;
  }
  #present-car.new-mg5 .link-point a#p-two {
    top: 150px;
    left: 450px;
  }
  #present-car.new-mg5 .link-point a#p-three {
    top: -8px;
    left: 520px;
  }
  #present-car.new-mg5 .link-point a#p-four {
    top: 90px;
    right: 100px;
  }
  #present-car.new-mg5 footer {
    padding-right: 24px;
  }
  #mg-exterior .show-car {
    margin-bottom: 141px;
  }
  #mg-exterior.bg-mg3 .show-car {
    height: 446px;
  }
  #mg-exterior.bg-xross .show-car {
    margin-left: 410px;
    height: 446px;
  }
  #g-hatchback .three-car .container {
    width: 100%;
  }
  #g-hatchback .three-car .car,
  #g-hatchback .three-car .car-mobile {
    position: relative;
    margin-top: 150px;
  }
  #g-hatchback .three-car .car {
    margin-left: -10px;
  }
  #g-hatchback .three-car .car .two {
    left: 350px;
  }
  #g-hatchback .three-car .car .three {
    left: 650px;
  }
  #g-hatchback .wheel .topic {
    font-size: 62px;
    font-size: 6.2rem;
  }
  #g-hatchback .wheel .wrapper {
    max-width: 680px;
    margin: 0 auto;
  }
  #mg-interior,
  #mg-technology-zone1,
  #mg-technology-zone2,
  #mg-technology-zone3 {
    height: 540px;
  }
  #mg-interior .lead .title,
  #mg-technology-zone1 .lead .title,
  #mg-technology-zone2 .lead .title,
  #mg-technology-zone3 .lead .title {
    font-size: 30px;
    font-size: 3rem;
  }
  #mg-interior .lead p,
  #mg-technology-zone1 .lead p,
  #mg-technology-zone2 .lead p,
  #mg-technology-zone3 .lead p {
    font-size: 20px;
    font-size: 2rem;
  }
  #mg-interior.new-mg6,
  #mg-technology-zone1.new-mg6,
  #mg-technology-zone2.new-mg6,
  #mg-technology-zone3.new-mg6 {
    background-position: center top;
    height: 590px;
    background-color: black;
    background-size: contain;
  }
  #mg-interior.new-mg6 .link-point .tooltip,
  #mg-technology-zone1.new-mg6 .link-point .tooltip,
  #mg-technology-zone2.new-mg6 .link-point .tooltip,
  #mg-technology-zone3.new-mg6 .link-point .tooltip {
    white-space: nowrap;
  }
  #mg-interior.new-mg6 .link-point a#p-one,
  #mg-technology-zone1.new-mg6 .link-point a#p-one,
  #mg-technology-zone2.new-mg6 .link-point a#p-one,
  #mg-technology-zone3.new-mg6 .link-point a#p-one {
    top: 122px;
    left: 50%;
    margin-left: -200px;
  }
  #mg-interior.new-mg6 .link-point a#p-two,
  #mg-technology-zone1.new-mg6 .link-point a#p-two,
  #mg-technology-zone2.new-mg6 .link-point a#p-two,
  #mg-technology-zone3.new-mg6 .link-point a#p-two {
    top: 160px;
    left: 50%;
    margin-left: -42px;
  }
  #mg-interior.new-mg6 .link-point a#p-three,
  #mg-technology-zone1.new-mg6 .link-point a#p-three,
  #mg-technology-zone2.new-mg6 .link-point a#p-three,
  #mg-technology-zone3.new-mg6 .link-point a#p-three {
    top: 124px;
    right: 50%;
    margin-right: -45px;
  }
  #mg-interior.new-mg6 .link-point a#p-four,
  #mg-technology-zone1.new-mg6 .link-point a#p-four,
  #mg-technology-zone2.new-mg6 .link-point a#p-four,
  #mg-technology-zone3.new-mg6 .link-point a#p-four {
    top: 351px;
    right: 50%;
    margin-right: 15px;
  }
  #mg-interior.new-mg6 .link-point a#p-five,
  #mg-technology-zone1.new-mg6 .link-point a#p-five,
  #mg-technology-zone2.new-mg6 .link-point a#p-five,
  #mg-technology-zone3.new-mg6 .link-point a#p-five {
    right: 50%;
    top: 355px;
    margin-right: -134px;
  }
  #mg-interior.new-mg6 .link-point a#p-six,
  #mg-technology-zone1.new-mg6 .link-point a#p-six,
  #mg-technology-zone2.new-mg6 .link-point a#p-six,
  #mg-technology-zone3.new-mg6 .link-point a#p-six {
    right: 50%;
    top: 350px;
    margin-right: -398px;
  }
  #mg-interior.new-mg6 .link-point a#p-seven,
  #mg-technology-zone1.new-mg6 .link-point a#p-seven,
  #mg-technology-zone2.new-mg6 .link-point a#p-seven,
  #mg-technology-zone3.new-mg6 .link-point a#p-seven {
    right: 64%;
    top: 160px;
    margin-right: -285px;
  }
  #mg-interior.new-mg5 .link-point a,
  #mg-technology-zone1.new-mg5 .link-point a,
  #mg-technology-zone2.new-mg5 .link-point a,
  #mg-technology-zone3.new-mg5 .link-point a {
    top: 50%;
    left: 50%;
  }
  #mg-interior.new-mg5 .link-point a#p-one,
  #mg-technology-zone1.new-mg5 .link-point a#p-one,
  #mg-technology-zone2.new-mg5 .link-point a#p-one,
  #mg-technology-zone3.new-mg5 .link-point a#p-one {
    margin-left: -410px;
    margin-top: -200px;
  }
  #mg-interior.new-mg5 .link-point a#p-two,
  #mg-technology-zone1.new-mg5 .link-point a#p-two,
  #mg-technology-zone2.new-mg5 .link-point a#p-two,
  #mg-technology-zone3.new-mg5 .link-point a#p-two {
    margin-top: -182px;
    margin-left: -450px;
  }
  #mg-interior.new-mg5 .link-point a#p-three,
  #mg-technology-zone1.new-mg5 .link-point a#p-three,
  #mg-technology-zone2.new-mg5 .link-point a#p-three,
  #mg-technology-zone3.new-mg5 .link-point a#p-three {
    margin-left: -360px;
    margin-top: -60px;
  }
  #mg-interior.new-mg5 .link-point a#p-four,
  #mg-technology-zone1.new-mg5 .link-point a#p-four,
  #mg-technology-zone2.new-mg5 .link-point a#p-four,
  #mg-technology-zone3.new-mg5 .link-point a#p-four {
    margin-left: -400px;
    margin-top: 60px;
  }
  #mg-interior.technology1 .link-point a,
  #mg-technology-zone1.technology1 .link-point a,
  #mg-technology-zone2.technology1 .link-point a,
  #mg-technology-zone3.technology1 .link-point a {
    top: 50%;
    left: 50%;
  }
  #mg-interior.technology1 .link-point a#p-one,
  #mg-technology-zone1.technology1 .link-point a#p-one,
  #mg-technology-zone2.technology1 .link-point a#p-one,
  #mg-technology-zone3.technology1 .link-point a#p-one {
    margin-left: -430px;
    margin-top: -11px;
  }
  #mg-interior.technology1 .link-point a#p-two,
  #mg-technology-zone1.technology1 .link-point a#p-two,
  #mg-technology-zone2.technology1 .link-point a#p-two,
  #mg-technology-zone3.technology1 .link-point a#p-two {
    margin-top: 60px;
    margin-left: -410px;
  }
  #mg3-price {
    height: 700px;
  }
  #mg3-price blockquote {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }
  #mg3-price .item span {
    float: right;
  }
  #hatchback-price .container {
    background-size: contain;
    background-repeat: repeat;
    height: 554px;
  }
  #hatchback-price .wrapper {
    margin-top: 115px;
    padding-bottom: 40px;
  }
  #interior-gallery .block {
    height: 540px;
  }
  #interior-gallery blockquote .title {
    font-size: 24px;
    font-size: 2.4rem;
  }
  #interior-gallery blockquote p {
    font-size: 20px;
    font-size: 2rem;
  }
  #interior-option figcaption {
    padding: 30px 40px;
  }
  #mg-running {
    height: 600px;
  }
  #mg-running .car {
    margin: 110px auto 0;
  }
  #mg-running section {
    margin-top: 60px;
    float: right;
  }
  #events .wrapper {
    margin-right: -10px;
  }
  #events .heading {
    margin-bottom: 30px;
    margin-right: -35px;
  }
  #events .heading [rel="group-select"] {
    padding-right: 30px;
  }
  #events .line.view-more {
    margin-top: 60px;
  }
  #events .listing .group-time time {
    display: block;
  }
  body.en #events .heading {
    margin-bottom: 0;
  }
  #listing-block .grid-sizer {
    width: 32%;
  }
  #listing-block .item {
    width: 32%;
  }
  #listing-block .item.is-expanded {
    width: 65%;
  }
  #listing-block .item.is-expanded .info {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #listing-block .show-date span {
    line-height: 60px;
  }
  #listing-block .show-date .time {
    font-size: 60px;
    font-size: 6rem;
  }
  #listing-block .show-date .time sup {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 18px;
    margin-top: 6px;
  }
  #listing-block .show-date .dash {
    font-size: 60px;
    font-size: 6rem;
  }
  #promotion-modal .box img {
    width: 100%;
  }
  .modal-open #header .group-header,
  .modal-open .submodel {
    position: relative;
    top: 0;
  }
  .modal-open .have-space {
    margin-top: 0;
  }
  #performance_wrapper p,
  #safety_wrapper p {
    font-size: 20px;
    font-size: 2rem;
  }
  .list-card .group {
    max-height: 338px;
  }
  #dealers.backdrop {
    background-position: center top -130px;
  }
  #coming-block {
    text-align: center;
    margin: 100px auto;
    display: block;
  }
  #coming-block .title {
    color: #666666;
  }
}

.remark{
  font-family: "nobel-bold",Helvetica,Arial,sans-serif;
}

h4.remark{
  margin: 15px 0 0;

}

ul.remark{
  margin : 0 10px 10px 10px;
  padding: 10px;
}

ul.remark li{
  font-size: .8em;
}

span.remark{
  font-size: .75em;
}
#group-title{
  font-size: 20px;
}

#setmore-fancy-box-close-icon {
    background: url(../images/dong.png);
    height: 32px;
    width: 32px;
    position: absolute;
    top: 5px;
    right: 3px;
    cursor: pointer;
    cursor: hand;
    z-index: 100;
}